/* Distributed by http://freehtml5templates.com */

body {
	margin-top: 0;
	margin-bottom: 0;
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

.wrapper{
}

#header-container{
    border-bottom:20px solid #f2f0eb;
	margin-bottom:50px;
	-webkit-box-shadow:0 40px 40px -40px #AAA;
	-moz-box-shadow:0 40px 40px -40px #AAA;
	box-shadow:0 40px 40px -40px #AAA;
	height: 120px;
    background: #f2f0eb url(../images/header-bg.png) repeat-x center;
    box-shadow: 0 45px 60px -50px #000000;
}

h2, h3{margin:30px 0;}
h2{font-size: 40px;}
h3{font-size: 30px;}
#title, h2, h3{
	font-weight:900;
	width: 120px;
	height: 40px;
	float: left;
	font-size: xx-large;
	color: #FFFFFF;
	font-variant: small-caps;
	text-transform: uppercase;
	padding-top: 58px;
	margin-left: 92px;
	text-shadow: 2px 2px 2px #f2f0eb;
}

#logo{
	color:white;
	float:left;
    margin-top: 10px;
    margin-left: 15%;
    -webkit-box-shadow:0 45px 60px -60px #AAA;
	-moz-box-shadow:0 45px 60px -60px #AAA;
}


header nav{
	float:right;
	margin-top:103px;
}

header nav ul li{
	display:inline;
}



aside{
	color:white;
	float:right;
	width:250px;
	margin-bottom:50px;
	background-image: none;
	height: 670px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

#main p{
	font:16px/26px Helvetica, Helvetica Neue, Arial;
	width:620px;
}

article header{
	width:700px;
	margin-bottom: 50px;
	padding-bottom: 25px;
	
}

#footer-container{
	height:270px;
	border-top:20px solid #f2f0eb;
    -webkit-box-shadow:0 -40px 40px -40px #AAA;
	-moz-box-shadow:0 -40px 40px -40px #AAA;
	box-shadow:0 -40px 40px -40px #AAA;
	background-image: url(../images/footer-bg.png);
	width: 100%;
	position: relative;
    margin: 50px auto auto;
}

#footer-container footer{
	color:white;
   }
   #footer .content ul {
	color: #FFFFCC;
	list-style-image: url(../images/footer-arrow.png);
	line-height: 20px;
	height: 25px;
	width: 120px;
}
.foot-nav {
	float: left;
	width: 180px;
	padding-right: 40px;
	padding-left: 40px;
	margin-left: 2em;
	margin-top: 1em;

}
.pul {
	border-top: 1px solid #f2f0eb;
	background: #f2f0ff;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f0eb), to(#f2f0ff));
	background: -webkit-linear-gradient(top, #f2f0eb, #f2f0ff);
	background: -moz-linear-gradient(top, #f2f0eb, #f2f0ff);
	background: -ms-linear-gradient(top, #f2f0eb, #f2f0ff);
	background: -o-linear-gradient(top, #f2f0eb, #f2f0ff);
	-webkit-box-shadow: #f2f0eb 0 1px 0;
	-moz-box-shadow: #f2f0eb 0 1px 0;
	box-shadow: #f2f0eb 0 1px 0;
	text-shadow: #f2f0eb 0 1px 0;
	color: white;
	font-size: 14px;
	font-family: Georgia, serif;
	text-decoration: none;
	vertical-align: middle;
	float: right;
	height: 25px;
	width: 75px;
    padding: 5px 10px;
    line-height: normal;
	text-align: center;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
   }
.pul:hover {
	border-top-color: ##f2f0eb;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f0eb), to(#f2f0ff));
	background: -webkit-linear-gradient(top, #f2f0eb, #f2f0ff);
	background: -moz-linear-gradient(top, #f2f0eb, #f2f0ff);
	background: -ms-linear-gradient(top, #f2f0eb, #f2f0ff);
	background: -o-linear-gradient(top, #f2f0eb, #f2f0ff);
	color: #ccc;
	background: #dee0de;
	-moz-box-shadow:0px 0px 4px #000000;
	-webkit-box-shadow:0px 0px 4px #000000;
	box-shadow:0px 0px 4px #000000;
	line-height: normal;
	float: right;
	height: 25px;
	width: 75px;
	text-align: center;
  -moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
   }
.pul:active {
	border-top-color: #f2f0eb;
	background: #f2f0eb;
	line-height: normal;
	float: right;
	height: 25px;
	width: 75px;
	text-align: center;
    -moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
   }#logo img

   {
	height: 123px;
	width: 123px;
	margin: auto;
	float: left;
}
#main h2 {
	font-size: 18px;
	color: #f2f0eb;
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
	width: 170px;
	height: auto;
}
#main p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	padding-left: 20px;

}
#main img {
	float: left;
	padding: 1em;
	margin: 1px;
	}
   .imagedropshadow {
	padding: 5px;
}
a:hover img.imagedropshadow {
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
	box-shadow: 1px 1px 5px #999;
	-moz-border-radius: 10px;
}
#logo #title a {
	margin: 0;
	padding: 0;
	color: #FEFEFE;
	text-decoration: none;
}
#title a:hover {
	margin: 0;
	padding: 0;
	color: #f2f0ff;
	text-shadow: -1px 1px #CCCCCC;
}
#main aside p {
	float: left;
	width: 300px;
	color: #000000;
}
#main b {
	color: #000000;
	float: left;
	width: 300px;
	font-style: italic;
	text-shadow: -1px 1px #f0f0f0;
}
#main h3 {
	color: #020202;
	font-size: 14px;
	float: left;
	width: 200px;
	text-align: left;
	height: 40px;

   }
.foot-nav li {
	list-style-image: url(../images/footer-arrow.png);
}
.copy {
	height: 15px;
	width: 100%;
	float: left;
	padding-right: 1em;
	padding-bottom: 1em;
	padding-left: 6em;
	margin-top: 10px;
}
.copy a {
	color: #a4f0f0;
	text-decoration: none;
}
.copy a:hover {
	color: #f2f0eb;
	text-decoration: none;
}


.pul a {
	color: black;
	text-decoration: none;
}

.foot-nav ul a {
	color: #F0F0F0;
	text-decoration: none;
}
.foot-nav ul a:hover {
	color: #f2f0eb;
	text-decoration: none;
	text-shadow: 0 -1px 0 #FFFFFF;
}
#tableau {
    overflow-y: scroll;
}
.result {
    overflow: hidden;
    border-bottom: 1px dashed #808183;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

#comptage {
    position: relative;
    width: 50%;
    min-height: 562px;
    border-radius: 7px;
    overflow: hidden;
    background-color: #e3e3e3;
    font-family: Tahoma,Arial,serif;
    font-size: 17px;
    margin-left: 5%;
    display: inline-block;
}
#inputnum {
    display: inline-block;
    vertical-align: top;
    margin-left: 15%;
    margin-top: 10%;
}
#codebarre {
    display: block;
}